nav{
    display: flex;
    flex-direction: row;
    background-color: #0F218D;
    margin: 0;
}

#atras{
    margin-left: 5px;
    margin-right: 10px;
    width: 50px;
}

#cuerpo{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    width: 100%;
}

#datos{
    width:80%;
    height: 350px;
    margin: auto;
    color: white;
    border: solid 2px ;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    border-color:  #0F218D;
    background-color: rgba(15,33,141,0.8);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    padding-right: 25px;
    display: none;
}

#foto{
    width: 100px;
    margin-left:4% ;
    margin-top: -50px;
}

#datos_p{
    height: 70%;
    display: flex;
    flex-direction:row;
    margin-top: 5px;
    margin-left: 10px;
}

#bloque2_datos,#bloque3_datos,#bloque1_datos{
    margin-top: 5px;
    width: 50%;
}

#codigoQR{
    height: 280px;
}

#bloque2_datos input,#bloque3_datos input,#bloque1_datos input, #inputtext{
background-color: #3F4DA4;
display: block;
border: 0;
border-bottom: white 0.2px solid;
border-left: white 0.2px solid;
height:20px;
margin-bottom: 20px;
color: white;
}

#buscador input{
    display: inline;
    margin-bottom: 0;
}

#botones_datos{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction:row;
}

#botones_datos input{
width:16%;
margin: auto;
margin-bottom: 5px;
}


#buscador{
    width:40%;
    height: 70px;   
    padding: 10px;
    margin: auto;
    color: white;
    border: solid 2px ;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    border-color:  #0F218D;
    background-color: rgba(15,33,141,0.8);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    
}

form{
   width:100%;
}

#inputtext{
    margin-right: 200px;
    margin-left: 5px;
    color:white;
}

#datos form img{
    display: none;
}

#radio{
    display: flex;
    flex-direction: row;
}

.radio1{
    margin-left: 20px;
    margin-top: 8px;
}

texto{
    margin-top: 8px;
}