
nav{
    display: flex;
    flex-direction: row;
    background-color: #0F218D;
    margin: 0;
}

#atras{
    margin-left: 5px;
    margin-right: 20%;
    width: 50px;
}

#cuerpo{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    width: 100%;
}

#persona{
width:40%;
height: 255px;
margin: auto;
border: solid 2px;
margin-top:60px; 
border-radius: 5px;
display: flex;
flex-direction:row;
justify-content: space-between;
border-color:  #0F218D;
-webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
}

#cuerpo1,#cuerpo3{
 width:99%;
}

#cuerpo2,#cuerpo4{
width: 120px;
display: flex;
flex-direction:column;
justify-content: flex-end;
}

#boton1{
    width:90px;
    margin:auto;
    margin-top: 220px;
}

#boton{
    margin:0px 5px 5px 0px;
}

input{
    margin-top: 2px; 
    display:block;
}

input, label, h3{
    margin-left: 20px;
}

input{
    margin-bottom: 10px;
    margin-left: 35px;
    width: 50%;
}

#vehiculo{
    width:60%;
    height: 280px;
    margin: auto;
    margin-top: 60px;
    border: solid 2px ;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    border-color:  #0F218D;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    display: none; 
}

#cuerpo3{
    width: 90%;
    display: flex;
}
#bloque1,#bloque2{
    width:40%;
}

#cuerpo3 input{
    width: 80%;
}

#cuerpo4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
    margin-left: 5px;
    height: 40px;
}

#cuerpo4 input{
    width:10%;
    margin: auto;
    margin-right: 10px; 
    margin-left: 10px; 
}

#bloque2{
 margin-top: 60px;
}

#datos{
    width:80%;
    height: 350px;
    margin: auto;
    color: white;
    border: solid 2px ;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    border-color:  #0F218D;
    background-color: rgba(15,33,141,0.8);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    padding-right: 25px;
    display:none;
}

#foto{
    width: 100px;
    margin-left:4% ;
    margin-top: -50px;
}

#datos_p{
    height: 70%;
    display: flex;
    flex-direction:row;
    margin-top: 5px;
    margin-left: 10px;
}

#bloque2_datos,#bloque3_datos,#bloque1_datos{
    margin-top: 5px;
    width: 50%;
}

#codigoQR{
    height: 280px;
}

#bloque2_datos input,#bloque3_datos input,#bloque1_datos input{
background-color: #3F4DA4;
border: 0;
border-bottom: white 0.2px solid;
border-left: white 0.2px solid;
height:20px;
margin-bottom: 20px;
color: white;
}

#botones_datos{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction:row;
    
}

#botones_datos input{
display: inline;
width:16%;
margin: auto;
margin-bottom: 5px;
}


/*forma*/

a {
    color: white;
    text-align: center;
    width: 180px; 
    height: 20px; 
    position: relative; 
    background: #0F218D; 
}

a:after { 
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 0;
    height: 0; 
    border-left: 10px solid#0F218D;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
}

a:before { 
    content: ""; 
    position: absolute; 
    right: -10px; 
    bottom: 0; 
    width: 0; 
    height: 0; 
    border-left: 10px solid #0F218D; 
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
}

#a1{
    color:black;
    background: white; 
}

#a1::before{
    border-left: 10px solid  white; 
}